
{% extends "base.html" %}
{% block content %}
    <div id="header-central-div">
        <p>Ferramentas</p>
            <button class="btn-home" id="btn-add-task" onclick="changeModal('overlay',true)">+ Add nova</button>
    </div>
    <div id="header-tasks">
            <p>tasks ativas</p>
            <p 
            >disciplina</p>
    </div>

    <div id="overlay" class="overlay">
        <form id="modal" hx-post="/add_tarefa" hx-target="#tasks" hx-on::after-request="this.reset()" hx-swap="beforeend">
            <div id="fechar-tool-modal" onclick="changeModal('overlay',false)"><p id="fechar-modal">fechar</p></div>
            <h1>Adicione a sua tarefa</h1>
            <input type="text" placeholder="nome da tarefa" class="input-task" required name="tarefa_nome">
            <input type="text" placeholder="Disciplina da tarefa" class="input-task" required name="disciplina_nome">
            <button id="btn-model" type="submit">Adicionar</button>
        </form>
    </div>

        <div id="tasks">
            {% if tasks_aluno_disciplinas %}
                {% for task, disciplina in tasks_aluno_disciplinas %}
                    <div class="task" id="task-{{ task.id }}">
                        <p style="font-weight: 600;">{{ task.nome }}</p>
                        <p style="color: var(--text-muted);">{{ disciplina.nome }}</p>
                        
                        <div style="display: flex; gap: 15px;">
                            <span onclick="abrirModalEdicao('{{ task.id }}', '{{ task.nome }}', '{{ disciplina.nome }}')" 
                                style="cursor:pointer; color: var(--primary); font-size: 0.9rem;">Editar</span>
                            
                            <span hx-delete="/deletar_task/{{ task.id }}" 
                                hx-target="closest .task" 
                                hx-swap="outerHTML"
                                style="cursor:pointer; color: #fb7185; font-size: 0.9rem;">Excluir</span>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div id="overlay-edit" class="overlay" style="display: none;">
            <form id="modal-edit" >
                <div id="fechar-tool-modal">
                    <p onclick="fecharModalEdicao()" style="cursor:pointer">fechar</p>
                </div>
                
                <h1>Editar Tarefa</h1>
        
                <input type="text" name="task_nome" id="edit-nome" class="input-task" required>
                <input type="text" name="disciplina_nome" id="edit-disciplina" class="input-task" required>
                <button id="btn-model">Salvar Alterações</button>
            </form>
        </div>   

<script>


function changeModal(id,open){
  //  altera o modo do modal (mostrar ou fechar), open: caso true, abre o modal, false, fecha
  const modal = document.getElementById(id)
  if (modal)
  {open? modal.classList.add("mostrar") : modal.classList.remove("mostrar")}
}




function abrirModalEdicao(id,nome,disciplina) {
    // id da tarefa, nome da tarefa atual, disciplina da tarefa atual
        // carrega esses atributos no form
    const form = document.getElementById('modal-edit');
    form.setAttribute('hx-post', `/atualizar_task/${id}`);
    form.setAttribute('hx-target', `#task-${id}`);
    form.setAttribute('hx-swap', 'outerHTML')
    htmx.process(form);
    
    
    document.getElementById('edit-nome').value = nome;
    document.getElementById('edit-disciplina').value = disciplina;   
    document.getElementById('overlay-edit').style.display = 'flex';
}

function fecharModalEdicao() {
    document.getElementById('overlay-edit').style.display = 'none';
}

</script>
{% endblock %}


