<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="../static/home.css">
    <script src="../static/scripts/home.js" defer></script>
    
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.js" integrity="sha384-ezjq8118wdwdRMj+nX4bevEi+cDLTbhLAeFF688VK8tPDGeLUe0WoY2MZtSla72F" crossorigin="anonymous"></script>


</head>
<body> 
<main>
    <div id="side-left-bar">
        <p>Pefil do usuário</p>
        <p>Disciplinas</p>
        <p><a href="/logout">Sair</a></p>
    </div>
    <div id="central-div">

        <div id="header-central-div">
            <p>Ferramentas</p>
            <button class="btn-home" id="btn-add-task">+ Add nova</button>
            <div id="pesquisa-bar">
            <input type="text" placeholder="pesquisar task" id="pesquisa-input"/>
            <img src="../static/images/lupa.png" alt="lupa de pesquisa" id="lupa"> 
            </div>
        </div>
        <div id="header-tasks">
            <p>tasks ativas</p>
            <p>data de criação</p>
            <p>disciplina</p>
        </div>


        <div id="overlay">
            <form id="modal" hx-post="/add_tarefa" hx-target="#tasks" hx-on::after-request="this.reset()" hx-swap="beforeend" >
                <div id="fechar-tool-modal"><p id="fechar-modal">fechar</p></div>
                <h1>Adicione a sua tarefa</h1>
                <input type="text" placeholder="nome da tarefa" class="input-task" required name="tarefa_nome">
                <input type="text" placeholder="Disciplina da tarefa" class="input-task" required name="disciplina_nome">
                <input type="date"  placeholder="Data final tarefa" class="input-task" required name="data_final_tarefa">
                <button id="btn-model" type="submit">Adicionar</button>
            </form>
        </div>

        <div id="tasks">
            {% if tasks_aluno %}
                {% for task in tasks_aluno%}
                    <div class="task">
                        <p>{{ task.nome }}</p>
                        <p>{{ task.data_finalizacao}}</p>
                        {# Nota: Se quiser o nome da disciplina, precisaremos de um join na query do Python #}
                        <p>Disciplina ID: {{ task.disciplina_id }}</p>
                        <p onclick="abrirModalEdicao('{{ task.id }}', '{{ task.nome }}', '{{ task.data_finalizacao }}', '{{ task.disciplina_id }}')" 
                        style="cursor:pointer; color: blue;">
                        editar
                        </p>
                        <p>excluir</p>
                    </div>
                {% endfor %}
            {% endif %}

        </div>

        <div id="overlay-edit" class="overlay" style="display: none;">
            <form id="modal-edit" action="/atualizar_tarefa" method="POST">
                <input type="hidden" name="tarefa_id" id="edit-id">
                
                <div id="fechar-tool-modal">
                    <p onclick="fecharModalEdicao()" style="cursor:pointer">fechar</p>
                </div>
                
                <h1>Editar Tarefa</h1>
                
                <input type="text" name="tarefa_nome" id="edit-nome" class="input-task" required>
                <input type="text" name="disciplina_nome" id="edit-disciplina" class="input-task" required>
                <input type="date" name="data_final_tarefa" id="edit-data" class="input-task" required>
                
                <button id="btn-model" type="submit">Salvar Alterações</button>
            </form>
        </div>
    </div>
</main>

    
</body>
</html>