<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/login.css">

    <title>login</title>
</head>
<body>

    <main>
        <p > <a href="/">Voltar</a></p>
        <div id="login">
        <h1>Entrar</h1>
        <form id="form-login" action="/logar" method="post">
        <input type="text" placeholder="Nome" required name="nome">
        <input type="email" placeholder="Email" required name="email">
        <input type="password" placeholder="senha" required name="senha">
        <button id="btn-singup" type="submit">login</button>
        {% if msg_error %}
        <p>Dados incorretos</p>
        {% endif %}
        </form>
        </div>
    </main>
    
</body>
</html>