<div class="task" id="task-{{ task_id }}">
    <p style="font-weight: 600;">{{ task_nome }}</p>
    <p style="color: var(--text-muted);">{{ disciplina_nome }}</p>
    
    <div style="display: flex; gap: 15px;">
        <span onclick="abrirModalEdicao('{{ task_id }}', '{{ task_nome }}', '{{ disciplina_nome }}')" 
              style="cursor:pointer; color: var(--primary); font-size: 0.9rem;">Editar</span>
        
        <span hx-delete="/deletar_task/{{ task_id }}" 
              hx-target="closest .task" 
              hx-confirm="Excluir tarefa?"
              style="cursor:pointer; color: #fb7185; font-size: 0.9rem;">Excluir</span>
    </div>
</div>