<div class="task" id="task-{{ task_id }}">
    <p>{{ task_nome }}</p>
    <p>{{ disciplina_nome }}</p>
    <p onclick="abrirModalEdicao('{{ task_id }}', '{{ task_nome }}', '{{ disciplina_nome }}')">
    editar
    </p>
    <p hx-delete="/deletar_task/{{ task_id }}" 
    hx-target="closest .task"
    hx-swap="outerHTML">excluir</p>
</div>

<style>
.task {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: aqua;
    width: 95%;
    margin: 10px auto;
    padding: 15px;
    border-radius: 8px;
}
</style>